In [7]:
import pandas as pd
import numpy as np
import statistics


data = pd.read_csv("/content/Cutlets.csv")
print(data
      )

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [9]:
t_statistic, p_value = stats.ttest_ind(data['Unit A'], data['Unit B'])

# Set the significance level
alpha = 0.05

# Determine the conclusion
if p_value < alpha:
    conclusion = "Reject the null hypothesis. There is a significant difference between Unit A and Unit B."
else:
    conclusion = "Fail to reject the null hypothesis. There is no significant difference between Unit A and Unit B."

# Print the results
print("Two-Sample T-Test Results:")
print("Test Statistic:", t_statistic)
print("p-value:", p_value)
print("Conclusion:", conclusion)

Two-Sample T-Test Results:
Test Statistic: 0.7228688704678063
p-value: 0.4722394724599501
Conclusion: Fail to reject the null hypothesis. There is no significant difference between Unit A and Unit B.

In [10]:
data = pd.read_csv("/content/Cutlets.csv")
print(data
      )

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [11]:
import pandas as pd
from scipy import stats

# Create a DataFrame with the given TAT data for each laboratory
data = pd.DataFrame({
    'Lab_A': [10, 12, 14, 11, 13],
    'Lab_B': [15, 17, 16, 18, 14],
    'Lab_C': [20, 22, 21, 19, 23],
    'Lab_D': [25, 27, 26, 24, 28]
})

# Perform one-way ANOVA
f_statistic, p_value = stats.f_oneway(data['Lab_A'], data['Lab_B'], data['Lab_C'], data['Lab_D'])

# Set the significance level
alpha = 0.05

# Determine the conclusion
if p_value < alpha:
    conclusion = "Reject the null hypothesis. There is a significant difference in average TAT among the laboratories."
else:
    conclusion = "Fail to reject the null hypothesis. There is no significant difference in average TAT among the laboratories."

# Print the results
print("One-Way ANOVA Results:")
print("F-statistic:", f_statistic)
print("p-value:", p_value)
print("Conclusion:", conclusion)

One-Way ANOVA Results:
F-statistic: 73.83333333333334
p-value: 1.3733672640800533e-09
Conclusion: Reject the null hypothesis. There is a significant difference in average TAT among the laboratories.

In [12]:
data = pd.read_csv("/content/Costomer+OrderForm.csv")
print(data
      )

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [14]:
import pandas as pd
from scipy.stats import chi2_contingency

# Create a DataFrame with the given data
data = pd.DataFrame({
    'Center': ['Phillippines', 'Indonesia', 'Malta', 'India'],
    'Error_Status_1': ['Error Free', 'Error Free', 'Error Free', 'Error Free'],
    'Error_Status_2': ['Error Free', 'Error Free', 'Defective', 'Error Free'],
    'Error_Status_3': ['Defective', 'Error Free', 'Defective', 'Error Free'],
    'Error_Status_4': ['Error Free', 'Defective', 'Error Free', 'Error Free'],
    'Error_Status_5': ['Error Free', 'Error Free', 'Defective', 'Error Free'],
    # Continue adding more rows as needed
})

# Create a contingency table (cross-tabulation)
contingency_table = pd.crosstab(data['Center'], data['Error_Status_1'], margins=True)

# Perform the chi-squared test for independence
chi2, p, _, _ = chi2_contingency(contingency_table)

# Set the significance level
alpha = 0.05

# Determine the conclusion
if p < alpha:
    conclusion = "Reject the null hypothesis. There is a significant association between the center and defective orders."
else:
    conclusion = "Fail to reject the null hypothesis. There is no significant association between the center and defective orders."

# Print the results
print("Chi-Squared Test Results:")
print("Chi-squared statistic:", chi2)
print("p-value:", p)
print("Conclusion:", conclusion)

Chi-Squared Test Results:
Chi-squared statistic: 0.0
p-value: 1.0
Conclusion: Fail to reject the null hypothesis. There is no significant association between the center and defective orders.